@import "colors.scss";
@import "typography.scss";
@import "mixins.scss";

// Animation example
@keyframes bounce {
    0%, 10%, 100%, 20%, 50%, 80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40%, 60% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
