/*
    Example: @media breakpoints
*/
$screen-xs:     480px;
$screen-xs-min: 480px;
$screen-xs-max: 767px;

$screen-sm:     768px;
$screen-sm-min: 768px;
$screen-sm-max: 959px;

$screen-md:     960px;
$screen-md-min: 960px;
$screen-md-max: 1199px;

$screen-lg:     1200px;
$screen-lg-min: 1200px;

/*
    File paths
*/
$image-path: "/images";
// Usage:
//  - background: url(#($image-path)/logo.png) no-repeat center;
